<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.adminfilters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AllUsers</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AssignRoles</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>MyTest</servlet-name>
        <servlet-class>com.vmmc.controllers.MyTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainDashboard</servlet-name>
        <servlet-class>com.vmmc.controllers.MainDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllHtsServ</servlet-name>
        <servlet-class>com.htc.controllers.AllHtsServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllUsers</servlet-name>
        <servlet-class>com.usermanagement.controllers.AllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignRoles</servlet-name>
        <servlet-class>com.usermanagement.controllers.AssignRoles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllHivPositive</servlet-name>
        <servlet-class>com.htc.controllers.AllHivPositive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HtsError</servlet-name>
        <servlet-class>com.htc.controllers.HtsError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExposedInfantPatient</servlet-name>
        <servlet-class>com.exposedinfants.controllers.ExposedInfantPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllExposedInfants</servlet-name>
        <servlet-class>com.exposedinfants.controllers.AllExposedInfants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExposedInfantVisit</servlet-name>
        <servlet-class>com.exposedinfants.controllers.ExposedInfantVisit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exposedInfantVisitsCard </servlet-name>
        <servlet-class>com.exposedinfants.controllers.exposedInfantVisitsCard </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllHivPosWomen</servlet-name>
        <servlet-class>com.exposedinfants.controllers.AllHivPosWomen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HtsDashboard</servlet-name>
        <servlet-class>com.htc.controllers.HtsDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtDashboard</servlet-name>
        <servlet-class>com.art.controllers.ArtDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EISingleClientDashboard</servlet-name>
        <servlet-class>com.exposedinfants.controllers.EISingleClientDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExposedInfantVisits</servlet-name>
        <servlet-class>com.exposedinfants.controllers.ExposedInfantVisits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllSTIClients</servlet-name>
        <servlet-class>com.sti.controllers.AllSTIClients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StiPatientCard</servlet-name>
        <servlet-class>com.sti.controllers.StiPatientCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StiSingleClientDashboard</servlet-name>
        <servlet-class>com.sti.controllers.StiSingleClientDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TreatmentSchedule</servlet-name>
        <servlet-class>com.sti.controllers.TreatmentSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllSyndromes</servlet-name>
        <servlet-class>com.sti.controllers.ListAllSyndromes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartnerNotification</servlet-name>
        <servlet-class>com.sti.controllers.PartnerNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtVisitClientCard</servlet-name>
        <servlet-class>com.art.controllers.ArtVisitClientCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OIARTVisitServ</servlet-name>
        <servlet-class>com.art.controllers.OIARTVisitServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtOIPeriodicReport</servlet-name>
        <servlet-class>com.art.controllers.ArtOIPeriodicReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.eid.controllers.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ARTPatientManual</servlet-name>
        <servlet-class>com.art.controllers.ARTPatientManual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StiPeriodicReport</servlet-name>
        <servlet-class>com.sti.controllers.StiPeriodicReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtEditPatient</servlet-name>
        <servlet-class>com.art.controllers.ArtEditPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>STICS</servlet-name>
        <servlet-class>com.sti.controllers.csNotification.STICS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCSExposedInfants</servlet-name>
        <servlet-class>com.sti.controllers.csNotification.AllCSExposedInfants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllSTICs</servlet-name>
        <servlet-class>com.sti.controllers.csNotification.AllSTICs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeriodicHtsReport</servlet-name>
        <servlet-class>com.htc.controllers.PeriodicHtsReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewSti</servlet-name>
        <servlet-class>com.sti.controllers.AddNewSti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecencyExport</servlet-name>
        <servlet-class>com.vmmc.reportModels.ExportExcel.cbs.RecencyExport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.vmmc.reportsDAO.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HtsReport</servlet-name>
        <servlet-class>com.htc.controllers.HtsReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDates</servlet-name>
        <servlet-class>com.art.controllers.ReportDates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDatesD1to17</servlet-name>
        <servlet-class>com.art.controllers.ReportDatesD1to17</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDatesD39to51</servlet-name>
        <servlet-class>com.art.controllers.ReportDatesD39to51</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDatesC1to21</servlet-name>
        <servlet-class>com.art.controllers.ReportDatesC1to21</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDatesB1to17</servlet-name>
        <servlet-class>com.art.controllers.ReportDatesB1to17</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDatesC</servlet-name>
        <servlet-class>com.cbs.controllers.ReportDatesC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtLaboratory</servlet-name>
        <servlet-class>com.art.controllers.ArtLaboratory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataLaboratory</servlet-name>
        <servlet-class>com.art.controllers.DataLaboratory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectInfants</servlet-name>
        <servlet-class>com.cbsDirect.controllers.DirectInfants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectAdults</servlet-name>
        <servlet-class>com.cbsDirect.controllers.DirectAdults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectTeens</servlet-name>
        <servlet-class>com.cbsDirect.controllers.DirectTeens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CbsReportDates</servlet-name>
        <servlet-class>com.cbs.controllers.CbsReportDates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LostToFollowUp</servlet-name>
        <servlet-class>com.vmmc.reportModels.ExportExcel.art.LostToFollowUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreArtClients</servlet-name>
        <servlet-class>com.art.controllers.PreArtClients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreArtClientMedication</servlet-name>
        <servlet-class>com.art.controllers.PreArtClientMedication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtLostToFollowUp</servlet-name>
        <servlet-class>com.art.controllers.ArtLostToFollowUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissedAppointment</servlet-name>
        <servlet-class>com.art.controllers.MissedAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtFollowUpContacts</servlet-name>
        <servlet-class>com.art.controllers.ArtFollowUpContacts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetArtAppointment</servlet-name>
        <servlet-class>com.art.controllers.SetArtAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemBackup</servlet-name>
        <servlet-class>com.vmmc.controllers.SystemBackup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PmtctReport</servlet-name>
        <servlet-class>com.art.controllers.PmtctReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepReport</servlet-name>
        <servlet-class>com.art.controllers.PrepReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HtsFacilityReport</servlet-name>
        <servlet-class>com.htc.controllers.HtsFacilityReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HtsCommunityReport</servlet-name>
        <servlet-class>com.htc.controllers.HtsCommunityReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDatesS1to12C</servlet-name>
        <servlet-class>com.htc.controllers.ReportDatesS1to12C</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDatesS1to12F</servlet-name>
        <servlet-class>com.htc.controllers.ReportDatesS1to12F</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDatesPr1to3</servlet-name>
        <servlet-class>com.art.controllers.ReportDatesPr1to3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDatesP1to36</servlet-name>
        <servlet-class>com.art.controllers.ReportDatesP1to36</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaff</servlet-name>
        <servlet-class>com.usermanagement.controllers.RegisterStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetupFacility</servlet-name>
        <servlet-class>com.vmmc.controllers.SetupFacility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>singleArtPatientSearch</servlet-name>
        <servlet-class>com.art.controllers.singleArtPatientSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleArtClient</servlet-name>
        <servlet-class>com.art.controllers.SingleArtClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>singleArtPatientSearchByName</servlet-name>
        <servlet-class>com.art.controllers.singleArtPatientSearchByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtVisitClientEdit</servlet-name>
        <servlet-class>com.art.controllers.ArtVisitClientEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtEditVisit</servlet-name>
        <servlet-class>com.art.controllers.ArtEditVisit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtSectionDReport</servlet-name>
        <servlet-class>com.art.controllers.ArtSectionDReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtSectionCReport</servlet-name>
        <servlet-class>com.art.controllers.ArtSectionCReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtReportGenerationC</servlet-name>
        <servlet-class>com.art.controllers.ArtReportGenerationC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtReportGenerationD</servlet-name>
        <servlet-class>com.art.controllers.ArtReportGenerationD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CbsReportGeneration</servlet-name>
        <servlet-class>com.cbs.controllers.CbsReportGeneration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CbsSectionReport</servlet-name>
        <servlet-class>com.cbs.controllers.CbsSectionReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyTest</servlet-name>
        <url-pattern>/MyTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewSti</servlet-name>
        <url-pattern>/AddNewSti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainDashboard</servlet-name>
        <url-pattern>/MainDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllHtsServ</servlet-name>
        <url-pattern>/AllHtsServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllUsers</servlet-name>
        <url-pattern>/AllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignRoles</servlet-name>
        <url-pattern>/AssignRoles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllHivPositive</servlet-name>
        <url-pattern>/AllHivPositive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HtsError</servlet-name>
        <url-pattern>/HtsError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExposedInfantPatient</servlet-name>
        <url-pattern>/ExposedInfantPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OIARTVisitServ</servlet-name>
        <url-pattern>/OIARTVisitServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllExposedInfants</servlet-name>
        <url-pattern>/AllExposedInfants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExposedInfantVisit</servlet-name>
        <url-pattern>/ExposedInfantVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtOIPeriodicReport</servlet-name>
        <url-pattern>/ArtOIPeriodicReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllHivPosWomen</servlet-name>
        <url-pattern>/AllHivPosWomen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HtsDashboard</servlet-name>
        <url-pattern>/HtsDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtDashboard</servlet-name>
        <url-pattern>/ArtDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EISingleClientDashboard</servlet-name>
        <url-pattern>/EISingleClientDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExposedInfantVisits</servlet-name>
        <url-pattern>/ExposedInfantVisits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exposedInfantVisitsCard</servlet-name>
        <url-pattern>/exposedInfantVisitsCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllSTIClients</servlet-name>
        <url-pattern>/AllSTIClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StiPatientCard</servlet-name>
        <url-pattern>/StiPatientCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StiSingleClientDashboard</servlet-name>
        <url-pattern>/StiSingleClientDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TreatmentSchedule</servlet-name>
        <url-pattern>/TreatmentSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllSyndromes</servlet-name>
        <url-pattern>/ListAllSyndromes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartnerNotification</servlet-name>
        <url-pattern>/PartnerNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtVisitClientCard</servlet-name>
        <url-pattern>/ArtVisitClientCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ARTPatientManual</servlet-name>
        <url-pattern>/ARTPatientManual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StiPeriodicReport</servlet-name>
        <url-pattern>/StiPeriodicReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtEditPatient</servlet-name>
        <url-pattern>/ArtEditPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>STICS</servlet-name>
        <url-pattern>/STICS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllSTICs</servlet-name>
        <url-pattern>/AllSTICs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCSExposedInfants</servlet-name>
        <url-pattern>/AllCSExposedInfants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeriodicHtsReport</servlet-name>
        <url-pattern>/PeriodicHtsReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecencyExport</servlet-name>
        <url-pattern>/RecencyExport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HtsReport</servlet-name>
        <url-pattern>/HtsReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDates</servlet-name>
        <url-pattern>/ReportDates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDatesD1to17</servlet-name>
        <url-pattern>/ReportDatesD1to17</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDatesD39to51</servlet-name>
        <url-pattern>/ReportDatesD39to51</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDatesC1to21</servlet-name>
        <url-pattern>/ReportDatesC1to21</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDatesB1to17</servlet-name>
        <url-pattern>/ReportDatesB1to17</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDatesC</servlet-name>
        <url-pattern>/ReportDatesC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtLaboratory</servlet-name>
        <url-pattern>/ArtLaboratory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataLaboratory</servlet-name>
        <url-pattern>/DataLaboratory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectInfants</servlet-name>
        <url-pattern>/DirectInfants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectAdults</servlet-name>
        <url-pattern>/DirectAdults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectTeens</servlet-name>
        <url-pattern>/DirectTeens</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CbsReportDates</servlet-name>
        <url-pattern>/CbsReportDates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LostToFollowUp</servlet-name>
        <url-pattern>/LostToFollowUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreArtClients</servlet-name>
        <url-pattern>/PreArtClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreArtClientMedication</servlet-name>
        <url-pattern>/PreArtClientMedication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtLostToFollowUp</servlet-name>
        <url-pattern>/ArtLostToFollowUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissedAppointment</servlet-name>
        <url-pattern>/MissedAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtFollowUpContacts</servlet-name>
        <url-pattern>/ArtFollowUpContacts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetArtAppointment</servlet-name>
        <url-pattern>/SetArtAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemBackup</servlet-name>
        <url-pattern>/SystemBackup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PmtctReport</servlet-name>
        <url-pattern>/PmtctReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepReport</servlet-name>
        <url-pattern>/PrepReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HtsFacilityReport</servlet-name>
        <url-pattern>/HtsFacilityReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HtsCommunityReport</servlet-name>
        <url-pattern>/HtsCommunityReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDatesS1to12C</servlet-name>
        <url-pattern>/ReportDatesS1to12C</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDatesS1to12F</servlet-name>
        <url-pattern>/ReportDatesS1to12F</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDatesPr1to3</servlet-name>
        <url-pattern>/ReportDatesPr1to3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDatesP1to36</servlet-name>
        <url-pattern>/ReportDatesP1to36</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaff</servlet-name>
        <url-pattern>/RegisterStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetupFacility</servlet-name>
        <url-pattern>/SetupFacility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>singleArtPatientSearch</servlet-name>
        <url-pattern>/singleArtPatientSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleArtClient</servlet-name>
        <url-pattern>/SingleArtClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>singleArtPatientSearchByName</servlet-name>
        <url-pattern>/singleArtPatientSearchByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtVisitClientEdit</servlet-name>
        <url-pattern>/ArtVisitClientEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtEditVisit</servlet-name>
        <url-pattern>/ArtEditVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtSectionDReport</servlet-name>
        <url-pattern>/ArtSectionDReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtSectionCReport</servlet-name>
        <url-pattern>/ArtSectionCReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtReportGenerationC</servlet-name>
        <url-pattern>/ArtReportGenerationC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtReportGenerationD</servlet-name>
        <url-pattern>/ArtReportGenerationD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CbsReportGeneration</servlet-name>
        <url-pattern>/CbsReportGeneration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CbsSectionReport</servlet-name>
        <url-pattern>/CbsSectionReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainDashboard</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Admin Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>MainDashboard</web-resource-name>
            <description/>
            <url-pattern>/MainDashboard</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Admin</description>
            <role-name>Admin</role-name>
            <role-name>Clerk</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>epmsJdbcRealm</realm-name>
        <form-login-config>
            <form-login-page>/uselogin/login.jsp</form-login-page>
            <form-error-page>/uselogin/errorlogin.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Clerk</role-name>
    </security-role>
</web-app>
