<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/zimepms?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.useSSL">false</property>
        <property name="hibernate.connection.autoReconnect">true</property>
        <property name="hibernate.connection.is-connection-validation-required">true</property>
        <property name="hibernate.connection.allowPublicKeyRetrieval">true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.c3p0.testConnectionOnCheckout">true</property>
        <property name="hibernate.c3p0.preferredTestQuery">SELECT 1</property>
        <property name="hibernate.c3p0.max_size">1</property>
        <property name="hibernate.c3p0.min_size">0</property>
        <property name="hibernate.c3p0.timeout">5000</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.c3p0.idle_test_period">300</property>
        <property name="hibernate.c3p0.acquire_increment">2</property>  
        <property name="hibernate.show_sql">true</property>       
        <mapping resource="com/vmmc/entities/Securityusers.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Userrole.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcVisits.hbm.xml"/>
        <mapping resource="com/vmmc/entities/PatientStatus.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblconfig.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupnosfacilities.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcPostprocedureassessment.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupdrugtypes.hbm.xml"/>
        <mapping resource="com/vmmc/entities/User.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupadverseeventsstatus.hbm.xml"/>
        <mapping resource="com/vmmc/entities/HtsEntrypoint.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblpatientsproblems.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Province.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupeducationlevel.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Genitalexamtype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/CbsSetupentrypoints.hbm.xml"/>
        <mapping resource="com/vmmc/entities/PatientAddress.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblfamilyrelatives.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tbldispense.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Setupclinicians.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Facilityconfig.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Visit.hbm.xml"/>
        <mapping resource="com/vmmc/entities/District.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupvisitstatus.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblpatients.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Setupriskreductionplan.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiCsSetupsigns.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblbaselinetests.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetuparvfixeddosecombinations.hbm.xml"/>
        <mapping resource="com/vmmc/entities/CbsSetuptestkittypes.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetuptbinvestigationresults.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Htc.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblproblems.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Vmmcservicetype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Nextofkin.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Locks.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblfamilyinfo.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcPrepexmalecircumcision.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Setupreferredfrom.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Basicvitals.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiCsexposeinfant.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Node.hbm.xml"/>
        <mapping resource="com/vmmc/entities/HtsSqnumber.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupledgerentrytypes.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Sti.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblmedication.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblexposedinfantproblems.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Proceduretype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiSymptoms.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiHistory.hbm.xml"/>
        <mapping resource="com/vmmc/entities/CbsSetupfacilitytype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupstatus.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetuparvreasoncodes.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Complainttype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/HtcTestreason.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiAncsyphilis.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Setupdoctors.hbm.xml"/>
        <mapping resource="com/vmmc/entities/HtcSetuphtcapproach.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupfamilyplanning.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Diagnosistype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupdistricts.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcCircumcisionprocedure.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Vmmc.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetuphivtesttypes.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupdispensers.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Functionalstatustype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupiptreasoncodes.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiSetuppurposeofsyphilis.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Adverseeventtype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupregions.hbm.xml"/>
        <mapping resource="com/vmmc/entities/CbsTests.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiSqnumber.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tbldatachecknotes.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetuphivtestreasons.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcCircumcisionreason.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Merge.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupdeliverymodes.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetuppregnancyoutcomes.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblreferralsto.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Generalconditiontype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcRiskreductionplan.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Hivresulttype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblstatus.hbm.xml"/>
        <mapping resource="com/vmmc/entities/SetupLinkages.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcCircumcisionmethod.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Modulerole.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Setupstaff.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Cbs.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupvisittypes.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetuppregnancystatus.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Patient.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblrequests.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcService.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Linkages.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcAdverseevents.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiExaminations.hbm.xml"/>
        <mapping resource="com/vmmc/entities/SetupreferredTo.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Circumcisionreasontype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/HtcSetuphtcmodel.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiCsSignsInfant.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblexposedinfants.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcReferredfrom.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Riskreductionplantype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/PatientSqnumber.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiSetupsyndrome.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tbltests.hbm.xml"/>
        <mapping resource="com/vmmc/entities/CbsSetupserviceaccess.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetuporphanstatus.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblledger.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetuptbstatus.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Setupservicetypes.hbm.xml"/>
        <mapping resource="com/vmmc/entities/ArtSqnumber.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetuparvstatuscodes.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Setupprimarycounsellors.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupreferralsto.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupmaritalstatus.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiTreament.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblrequestdates.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblappointments.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupstaff.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetuptesttypes.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblexposedinfantmedication.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblpregnancies.hbm.xml"/>
        <mapping resource="com/vmmc/entities/HtcTesttype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Noderole.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcGeneralcondition.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblexposedinfanttests.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblpatientspriorexposure.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupinfantfeedingpractices.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiCs.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetuptestresults.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiSexualactivity.hbm.xml"/>
        <mapping resource="com/vmmc/entities/HtcHivresult.hbm.xml"/>
        <mapping resource="com/vmmc/entities/PatientDiagnosis.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Role.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblexposedinfantvisits.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcMedicalscreening.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiDrugs.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblbatches.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiAncsyphilistreatment.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcComplaints.hbm.xml"/>
        <mapping resource="com/vmmc/entities/PatientMedicalInsurance.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Visittype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Module.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblinventory.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcGenitalexam.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblvisits.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Securityaccesslevels.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcAdverseeventtype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetuptransferin.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Visitplans.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupreferrals.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupiptstatus.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Statustype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/VmmcSurgicalmalecircumcision.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Setupmedicalaidsocities.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupproblems.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblconfigoptions.hbm.xml"/>
        <mapping resource="com/vmmc/entities/StiInfectiontype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetupfunctionalstatus.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Tblsetuptpttype.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Highviralload.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Reportdates.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Laboratory.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Facilities.hbm.xml"/>
        <mapping resource="com/vmmc/entities/Nationality.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
